services:
	- Wame\DataGridControl\DataGridControl
	- Wame\DataGridControl\IDataGridControlFactory

	# Entities
	- Wame\DataGridControl\Entities\GridEntity

	# Repositories
	- Wame\DataGridControl\Repositories\GridRepository

doctrine:
	metadata:
		Wame\DataGridControl\Entities: %appDir%/../vendor/wame/DataGridControl/entities
		Wame\DataGridControl\Repositories: %appDir%/../vendor/wame/DataGridControl/repositories

webloader:
    css:
        admin:
            files:
                - %appDir%/../vendor/wame/DataGridControl/assets/happy/happy.min.css
                - %appDir%/../vendor/wame/DataGridControl/assets/bootstrap-datepicker/css/bootstrap-datepicker3.min.css
                - %appDir%/../vendor/ublaboo/datagrid/assets/dist/datagrid.min.css
                - %appDir%/../vendor/ublaboo/datagrid/assets/dist/datagrid-spinners.min.css
                - %appDir%/../vendor/wame/DataGridControl/assets/bootstrap-select/css/bootstrap-select.min.css

    js:
        admin:
            files:
                - %appDir%/../vendor/wame/DataGridControl/assets/happy/happy.min.js
                - %appDir%/../vendor/wame/DataGridControl/assets/bootstrap-datepicker/js/bootstrap-datepicker.min.js
                - %appDir%/../vendor/ublaboo/datagrid/assets/dist/datagrid.min.js
                - %appDir%/../vendor/ublaboo/datagrid/assets/dist/datagrid-spinners.min.js
                - %appDir%/../vendor/wame/DataGridControl/assets/bootstrap-select/js/bootstrap-select.min.js